/*画布容器*/
#efContainer {
  position: relative;
  flex: 1;
}

/*节点的最外层容器*/
.ef-node-container {
  position: absolute;
  display: flex;
  width: 200px;
  height: 45px;
  border: 1px solid #E0E3E7;
  box-shadow:2px 2px 500px #E0E3E7;
  border-radius: 10px;
  background-color: #E0E3E7;
}

.ef-node-container:hover {
  /* 设置移动样式*/
  cursor: move;
  background-color: #F0F7FF;
  /*box-shadow: #1879FF 0px 0px 12px 0px;*/
  background-color: #F0F7FF;
  border: 1px dashed #1879FF;
}


/*节点左侧的竖线*/
.ef-node-left {
  width: 8px;
  display: none;
  background-color: #d7d7d7;
  border-radius: 4px 0 0 4px;
}

/*节点左侧的图标*/
.ef-node-left-ico {
  line-height: 45px;
  margin-left: 8px;
}

.ef-node-left-ico:hover {
  /* 设置拖拽的样式 */
  cursor: crosshair;
}

/*节点显示的文字*/
.ef-node-text {
  color: #565758;
  font-size: 15px;
  line-height: 45px;
  margin-left: 0px;
  font-weight: 600;
  width: 150px;
  /* 设置超出宽度文本显示方式*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/*节点右侧的图标*/
.ef-node-right-ico {
  line-height: 45px;
  position: absolute;
  right: 5px;
  color: #84CF65;
  cursor: default;
}

.ef-node-right-ico i {
  line-height: 45px;

}

/*节点的几种状态样式*/
.el-node-state-success {
  position: absolute;
  right: 5px;
  color: #84CF65;
  cursor: default;
}

.el-node-state-error {
  position: absolute;
  right: 5px;
  color: #F56C6C;
  cursor: default;
}

.el-node-state-warning {
  position: absolute;
  right: 5px;
  color: #E6A23C;
  cursor: default;
}

.el-node-state-running {
  position: absolute;
  right: 5px;
  color: #84CF65;
  cursor: default;
}


/*node-form*/
.ef-node-form-header {
  height: 32px;
  border-top: 1px solid #dce3e8;
  border-bottom: 1px solid #dce3e8;
  background: #F1F3F4;
  color: #000;
  line-height: 32px;
  padding-left: 12px;
  font-size: 14px;
}

.ef-node-form-body {
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

/* 连线中的label 样式*/
.jtk-overlay.flowLabel:not(.aLabel) {
  padding: 4px 10px;
  background-color: white;
  color: #565758 !important;
  border: 1px solid #E0E3E7;
  border-radius: 5px;
}

/* label 为空的样式 */
.emptyFlowLabel {
}


.ef-dot {
  background-color: #1879FF;
  border-radius: 10px;
}

.ef-dot-hover {
  background-color: red;
}

.ef-rectangle {
  background-color: #1879FF;
}

.ef-rectangle-hover {
  background-color: red;
}

.ef-img {
}

.ef-img-hover {
}


.ef-drop-hover {
  border: 1px dashed #1879FF;
}
